## Feature Engineering Exercises:

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

In [5]:
tips = sns.load_dataset('tips')

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Exercise 1 a):
Create a column named price_per_person. This should be the total bill divided by the party size.

In [8]:
tips['price_per_person'] = tips.total_bill / tips.size

In [9]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
0       16.99  1.01  Female     No  Sun  Dinner     2          0.009947
1       10.34  1.66    Male     No  Sun  Dinner     3          0.006054
2       21.01  3.50    Male     No  Sun  Dinner     3          0.012301
3       23.68  3.31    Male     No  Sun  Dinner     2          0.013864
4       24.59  3.61  Female     No  Sun  Dinner     4          0.014397

### Exercise 2 b):
Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

#### I think that day, time, party size and total_bill will be features that affect tips or not.

### Exercise 3 c):
Use select k best to select the top 2 features for predicting tip amount. What are they?

In [10]:
#let's first remember to split our data:
tips, X_train_explore, 
    X_train_scaled, y_train, 
    X_validate_scaled, y_validate, 
    X_test_scaled, y_test = tips

In [11]:
from sklearn.feature_selection import SelectKBest, f_regression

# parameters: f_regression stats test, give me 8 features
f_selector = SelectKBest(f_regression, k=8)

# find the top 8 X's correlated with y
f_selector.fit(X_train_scaled, y_train)

# boolean mask of whether the column was selected or not. 
feature_mask = f_selector.get_support()

# get list of top K features. 
f_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

ValueError: Expected 2D array, got scalar array instead:
array=sex.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.